.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
.about-text {
        color: #fffffd;
        font-size: 32px;
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
        font-weight: 900;
        width: 126px;
        height: 33px;
        margin: -135px auto 100px;
    }
    .footer {
        color: #ce1225;
        font-size: 36px;
        width: 171px;
        height: 98px;
        text-align: center;
        font-weight: 900;
        margin: 0px auto;
    }
    .family {
        width: 320px;
        height: 218px;
    }
    .mahalo{
        width: 167px;
        height: 76px;
    }
    .about-container {
        color: #292929;
        font-size: 14px;
        padding: 5px 10px;
        width: 320px;
        margin-top: 20px;
    }
}