@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContainer{
    color: #1f1f1f !important;
    text-decoration: none !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    height: 295px;
    // width: 100%;
    background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0), #ce1225);

    .navBtns{
        font-family: AvenirNext-Bold;
        font-size: 12px;
        height: 120px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        margin-bottom: 25px;

        .nav{
            height: 75px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            // padding: 40px;
        }
    }

    .copyWrite{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p{
            font-family: AvenirNext-Regular;
            font-size: 10px;
            padding-bottom: 10px;
        }
    }
}