@mixin center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home{

    .picContainer{
        @include center;
        width: 100%;
        height: 210px;
        // background-color: pink;
        background-image: url('../assets/images/Katsu Chicken.svg');
        background-size: cover;

        p{
            font-family: AvenirNext-Heavy;
            font-size: 32px;
            color: white;
            // text-shadow: 0px 1px 4px rgba(0 0 0 0 .5);
        }
    }

    .buttons{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        color: white;
        font-family: AvenirNext-Bold;
        text-decoration: none;
        margin-top: 20px;
    }

    .one{
        @include center;
        
        .titleContainer{
            @include center;
            margin-top: 60px;

            .title{
                font-family: AvenirNext-Heavy;
                color: #ce1225;
                font-size: 36px;
                text-align: center;
            }
    
            p{
                color: #292929;
                width: 80%;
                font-family: AvenirNext-Regular;
                font-size: 14px;
                text-align: center;
                margin-bottom: 12px;
            }
        }


        .placeholder{
            width: 100%;
            height: 210px;
            background-color: pink;
            margin-top: 7px;
        }

        .cateringBtn{
            margin-top: 30px;
            margin-bottom: 50px;
        }
    }

    .socialMedia{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 213px;

        p{
            color: #1f1f1f;
            font-family: AvenirNext-Regular;
            font-size: 14px;
            text-align: center;
        }

        img{
            padding: 15px;
        }
    }
}