@mixin center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home{

    .picContainer{
        @include center;
        width: 100vw;
        height: 210px;
        background-color: pink;

        p{
            font-family: AvenirNext-Heavy;
            font-size: 32px;
            color: white;
            // text-shadow: 0px 1px 4px rgba(0 0 0 0 .5);
        }
    }

    .buttons{
        @include center;
        width: 100vw;
        height: 113px;
        flex-direction: row;
        color: white;
        font-family: AvenirNext-Bold;
        text-decoration: none;

        img{
            padding: 5px;
        }
    }

    .one{
        @include center;
        margin-top: 40px;

        .title{
            font-family: AvenirNext-Heavy;
            color: #ce1225;
            font-size: 36px;
            text-align: center;
        }

        p{
            width: 80%;
            font-family: AvenirNext-Regular;
            font-size: 14px;
            text-align: center;
            margin-top: 12px;
        }

        .placeholder{
            width: 100%;
            height: 210px;
            background-color: pink;
            margin-top: 7px;
        }

        .cateringBtn{
            margin-top: 30px;
        }
    }
}