* {
  margin: 0px;
  text-decoration: none; }

.home .picContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 210px;
  background-color: pink; }
  .home .picContainer p {
    font-family: AvenirNext-Heavy;
    font-size: 32px;
    color: white; }

.home .buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 113px;
  flex-direction: row;
  color: white;
  font-family: AvenirNext-Bold;
  text-decoration: none; }
  .home .buttons img {
    padding: 5px; }

.home .one {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px; }
  .home .one .title {
    font-family: AvenirNext-Heavy;
    color: #ce1225;
    font-size: 36px;
    text-align: center; }
  .home .one p {
    width: 80%;
    font-family: AvenirNext-Regular;
    font-size: 14px;
    text-align: center;
    margin-top: 12px; }
  .home .one .placeholder {
    width: 100%;
    height: 210px;
    background-color: pink;
    margin-top: 7px; }
  .home .one .cateringBtn {
    margin-top: 30px;
    margin-bottom: 50px; }

.home .socialMedia {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 213px; }
  .home .socialMedia p {
    color: #1f1f1f;
    font-family: AvenirNext-Regular;
    font-size: 14px;
    text-align: center; }
  .home .socialMedia img {
    padding: 15px; }

.flyout {
  width: 217px; }
  .flyout .flyoutClose {
    z-index: 99;
    position: absolute;
    width: 22px;
    height: 22px;
    margin-left: 20px;
    margin-top: 48px; }
  .flyout .contentContainer {
    position: absolute; }
    .flyout .contentContainer .logo {
      margin-left: 51px;
      margin-top: 94px;
      width: 116px;
      height: 101px; }
    .flyout .contentContainer ul {
      text-decoration: none !important;
      margin-top: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .flyout .contentContainer ul li {
        cursor: pointer;
        color: black;
        list-style-type: none;
        margin-top: 24px;
        font-family: AvenirNext-Bold;
        font-size: 14px; }

.header {
  width: 100vw;
  height: 118px; }
  .header .menu {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-top: 48px;
    margin-left: 20px; }
  .header .logo {
    position: absolute;
    margin-left: 35%;
    margin-top: 24px;
    width: 108px;
    height: 69px; }

.footerContainer {
  height: 295px;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0), #ce1225); }
  .footerContainer p {
    color: #1f1f1f;
    font-family: AvenirNext-Regular;
    font-size: 14px;
    text-align: center; }
  .footerContainer .socialMedia {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px; }
    .footerContainer .socialMedia img {
      padding: 15px; }
  .footerContainer .navBtns {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .footerContainer .navBtns .nav {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 40px; }
  .footerContainer .copyWrite {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .footerContainer .copyWrite p {
      font-family: AvenirNext-Regular;
      font-size: 10px;
      color: #1f1f1f; }
