*{
    margin: 0px;
    text-decoration: none;
}

.app{
    background-image : url('../assets/svg/Background.svg');
}

@import 'home';
@import 'flyout';
@import 'header';
@import 'about';
@import 'footer';
@import 'menu';
@import 'expandedMenu';
